<!-- Default form register -->
<form class="text-center border border-light p-5" [formGroup]="registrationForm">

    <p class="h4 mb-4">Sign up</p>

    <!-- Username -->
    <div class="md-form md-outline">
        <input mdbInput mdbValidate class="form-control" placeholder="Username" formControlName="username" required>
        <label for="form2">Username</label>
        <mdb-error *ngIf="username.invalid && (username.touched || submitButtonClicked)">Input invalid</mdb-error>
    </div>

    <!-- E-mail -->
    <div class="md-form md-outline">
        <input mdbInput mdbValidate class="form-control" placeholder="E-mail" formControlName="email" required>
        <label for="form2">E-mail</label>
        <mdb-error *ngIf="email.invalid && (email.touched || submitButtonClicked)">Input invalid</mdb-error>
    </div>

    <!-- Password -->
    <div class="md-form md-outline">
        <input mdbInput mdbValidate class="form-control" placeholder="Password" formControlName="password" required>
        <label for="form2">Password</label>
        <mdb-error *ngIf="password.invalid && (password.touched || submitButtonClicked)">Input invalid</mdb-error>
    </div>

    <!-- Phone number -->
    <div class="md-form md-outline">
        <input mdbInput mdbValidate class="form-control" placeholder="Phone Number" formControlName="phone_number" required>
        <label for="form2">Phone Number</label>
        <mdb-error *ngIf="phone_number.invalid && (phone_number.touched || submitButtonClicked)">Input invalid</mdb-error>
    </div>

    <!-- Newsletter -->
    <div class="row">
      <div class="col-md-6 mx-auto d-flex justify-content-center">
        <mdb-checkbox [default]="true">Subscribe to our newsletter</mdb-checkbox>
      </div>
    </div>

    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit" *ngIf="!visible" (click)="signUp()">Sign Up</button>
    <button mdbBtn color="info" block="true" class="my-4" *ngIf="visible" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Signing up...
    </button>
    
    <!-- Register -->
    <p>Already registered?
        <a (click)="signIn()">Sign In</a>
    </p>

    <hr>

    <!-- Terms of service -->
    <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a></p>

  </form>
  <!-- Default form register -->